@import "./Header/Header.pcss";
@import "./Footer/Footer.pcss";
@import "./Sidebar/Sidebar.pcss";
@import "./WalletsOverview/WalletOverview.pcss";
@import "./HowToDeposit/HowToDeposit.pcss";
@import "./ReferralProgram/ReferralProgram.pcss";
@import "./ProfileDeviceTable/ProfileDeviceTable.pcss";
@import "./ProfileAuthDetails/ProfileAuthDetails.pcss";
