@import "./Footer/Footer.pcss";
@import "./Modal/Modal.pcss";
@import "./Header/Header.pcss";
@import "./CoinTransfer/CoinTransfer.pcss";
@import "./PaginationMobile/PaginationMobile.pcss";
@import "./ModalBeneficiaryListMobile/ModalBeneficiaryListMobile.pcss";
