@import "./Footer/Footer.pcss";
@import "./Modal/ModalMobile.pcss";
@import "./ModalFullScreen/ModalFullScreen.pcss";
@import "./Header/Header.pcss";
@import "./CoinTransfer/CoinTransfer.pcss";
@import "./PaginationMobile/PaginationMobile.pcss";
@import "./ModalBeneficiaryListMobile/ModalBeneficiaryListMobile.pcss";
