.two-fa-auth-mobile {
    .qr-code {
        background: var(--light-background-color);
        padding: 10px;
        border-radius: 6px;
    }
    .mva-code {
        border-radius: 13px;
        margin-left: 0 !important;
        padding: 6px 24px;
        background: var(--body-background-color);
        width: 100%;
        .input-group {
            justify-content: space-between;
        }
    }
}
