.com-market-detail-info {
    .icon {
        width: 48px;
        height: 48px;
    }
}

.bar {
    height: 4px;
    border-radius: 4px;
    margin: 0 2rem;
    width: 150px;
    background: var(--text-danger-color);
}

.positive {
    position: absolute;
    right: 0;
    top: 0;
    height: 4px;
    border-radius: 4px;
    background: var(--text-contrast-color);
}
