.modal-coming-soon {
    .modal-content {
        padding: 32px;
        border-radius: 16px;
        background: var(--body-background-color);
    }

    .modal-header,
    .modal-footer {
        justify-content: center !important;
        border: none !important;
    }

    .btn-close {
        padding: 10px 40px;
    }
}
