.cr-copyable-text-field {
    .custom-input {
        margin-bottom: 0;
        .form-control {
            border: 0;
            width: 200px;
            padding: 0 12px 0 0;
            margin-bottom: 0;
        }
        label {
            display: none;
        }
    }

    .cr-copyable-text-field__button {
        padding: 0;
        background: transparent !important;
        .copy-icon {
            width: 24px;
        }
    }
}
