.modal-beneficiary-list-mobile {
    .custom-modal {
        .custom-modal-dialog {
            .custom-modal-content {
                background-color: aqua !important;
            }
        }
    }
}

.content-list-mobile {
    border-bottom: 0.3px solid var(--text-secondary-color);
}
