.content-list-mobile {
    border-bottom: 0.3px solid var(--text-secondary-color);
}

.btn-dash-wallet {
    border: 1px dashed var(--text-secondary-color);
    padding: 10px 0;
    gap: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--text-secondary-color);
}
