.cr-market-list-header {
    &__card-container {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;

        .com-card-market {
            width: calc(30% - 16px);
            min-width: 270px;
        }
    }
}
