.cr-market-list-header {
    &__card-container {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;

        .com-card-market {
            width: calc(25% - 6px);
            min-width: unset;
        }
    }
}
