.kyc-document-screen {
    padding: 5.5rem 0;
    min-height: 100vh;
    height: 100%;

    h6 {
        color: var(--secondary-color);
    }

    .upload-file-kyc {
        margin-bottom: 300px;
    }
}
