.referral-mobile-screen {
    .cr-copyable-text-field {
        border-radius: 13px;
        margin-left: 0 !important;
        padding: 6px 24px;
        color: var(--text-gradient-color);
        .custom-input {
            width: calc(100% - 30px);
            overflow-x: auto;
        }
        .input-group {
            justify-content: space-between;
            input {
                width: 100%;
            }
        }
    }
}
