.pg-market-detail-screen {
    padding: 40px 200px;
    gap: 20px;

    &__content-right {
        gap: 67px;
    }

    &__title {
        .market {
            border-right: 1px solid var(--text-primary-color);
        }
    }
}
