.lost-two-fa-screen .tabs-item.show {
    display: block;
}

.lost-two-fa-screen .tabs-item.hidden {
    display: none;
}
/* end main content */

/* responsive */
@media (max-width: 992px) {
    .lost-two-fa-screen .main-wrapper {
        padding-left: 20px;
    }
}
