@import "./CustomInput/CustomInput.pcss";
@import "./SignUp/SignUp.pcss";
@import "./SignIn/SignIn.pcss";
@import "./FilterInput/FilterInput.pcss";
@import "./WalletsHeader/WalletsHeader.pcss";
@import "./TickerTable/TickerTable.pcss";
@import "./RecentDeposit/RecentDeposit.pcss";
@import "./PasswordStrengthMeter/PasswordStrengthMeter.pcss";
@import "./InputFile/InputFile.pcss";
@import "./Modal/Modal.pcss";
@import "./KycInputFileComponent/KycInputFileComponent.pcss";
