.pg-market-list-screen {
    padding: 40px 0;

    &__header {
        padding: 0 191px;
    }

    &__table {
        padding: 24px 0;
        border-radius: 50px 50px 0px 0px;
        padding: 0 191px;
    }
}
