.pg-market-list-screen {
    padding-bottom: 40px;

    &__table {
        padding: 24px 0;
        border-radius: 50px 50px 0px 0px;
    }

    .list-market {
        border-radius: 50px 50px 0 0;
    }
}
