.pagination-mobile-component {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    p {
        color: var(--text-secondary-color);
        padding: 12px 12px 0 12px;
        display: none;
    }
    button {
        background: var(--body-background-color);
        border: 1px solid var(--border-color);
        width: 36px;
        height: 36px;
        border-radius: 100px;
    }
}
