/* main content */
.faq-screen {
    position: relative;
    margin-left: 223px;
    width: calc(100% - 223px);
    min-height: 100vh;
    padding-top: 70px;

    .background {
        background-size: cover;
        background-repeat: no-reapat;
        background-position: center;
    }
    .articles {
        padding: 3rem 0;
    }
}
