.cr-table {
    &__head {
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: var(--text-secondary-color);

        &-row th {
            padding: 9px 16px;
        }
    }

    &__body {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--text-secondary-color);

        td {
            padding: 9px 16px;
        }
    }
}
