.pg-wallet-deposit-screen {
    .header-deposit {
        padding-left: 150px;
        padding-right: 75px;
    }

    .body-deposit {
        padding: 40px 40px 40px 223px;
        border-radius: 90px 90px 0px 0px;
    }
}
