.pg-wallet-withdraw-screen {
    .header-withdraw {
        padding: 0 150px;
    }

    .body-withdraw {
        padding: 24px 223px;
        border-radius: 90px 90px 0px 0px;

        &__content {
            gap: 60px !important;
        }
    }
}
