.input-add-address span {
    top: 15%;
    right: 5%;
}

.pincode-input-text {
    background: var(--border-color) !important;
    color: var(--text-primary-color);
    border-color: var(--border-color) !important;
}
