.create-api-mobile-screen {
    background: #999;
    .cr-copyable-text-field {
        border: 1px solid #999;
        border-radius: 13px;
        margin-left: 0 !important;
        padding: 6px 24px;
        .input-group {
            justify-content: space-between;
        }
    }
}
